section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.left{
    border: solid black;
    width: 25%;
}
.right{
    border: solid black;
    width: 50%;
}

.one{
    color: black;
}

.one.active{
    color: blue;
}
.two{
    color: black;
}

.two.active{
    color: blue;
}
.three{
    color: black;
}

.three.active{
    color: blue;
}