<h1>{{ data.name }}</h1>
<section class="inputs">
  <form [formGroup]="Detail3Form" (ngSubmit)="submit()" class="DetailForm">
    <div class="cardNo">
      <label>Card Number</label>
      <input type="number" formControlName="cardNo" />
      <span *ngIf="cardNo?.touched && cardNo?.hasError('required')">
        Please fill this field
      </span>
    </div>
    <div class="nextButton">
      <button type="submit">Submit</button>
    </div>
  </form>
  <div class="backButton">
    <button (click)="back()">Back</button>
  </div>
</section>
