.nextButton{
    position: absolute;
    bottom: 20%;
    right: 10%;
}
.backButton{
    position: absolute;
    bottom: 20%;
    right: 30%;
}
.DetailForm{
    display: flex;
    flex-direction: column;
    gap: 30px
}